

<div class="row mt-5" style="margin-bottom: 20px;">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-edit"></i> Edit Your Details
            </h1>
            <%- include('./partials/messages.ejs') %>
            <form action="/userDetails/edit" method="POST">
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input
                        type="text"
                        id="first_name"
                        name="first_name"
                        class="form-control"
                        placeholder="Enter First Name"
                        value="<%= first_name %>"
                    />
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input
                        type="text"
                        id="last_name"
                        name="last_name"
                        class="form-control"
                        placeholder="Enter Last Name"
                        value="<%= last_name %>"
                    />
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input
                        type="number"
                        id="age"
                        name="age"
                        class="form-control"
                        placeholder="Enter Age"
                        value="<%= age %>"
                    />
                </div>
                <div class="form-group">
                    <label for="weight">Weight (kg)</label>
                    <input
                        type="number"
                        id="weight"
                        name="weight"
                        class="form-control"
                        placeholder="Enter Weight"
                        value="<%= weight %>"
                        min="15"
                        max="250"
                    />
                </div>
                <div class="form-group">
                    <label for="height">Height (cm)</label>
                    <input
                        type="number"
                        id="height"
                        name="height"
                        class="form-control"
                        placeholder="Enter Height"
                        value="<%= height %>"
                    />
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select
                        id="gender"
                        name="gender"
                        class="form-control"
                    >
                        <option value="male" <%= gender === 'male' ? 'selected' : '' %>>Male</option>
                        <option value="female" <%= gender === 'female' ? 'selected' : '' %>>Female</option>
                        <option value="other" <%= gender === 'other' ? 'selected' : '' %>>Other</option>
                        <option value="prefer not to say" <%= gender === 'prefer not to say' ? 'selected' : '' %>>Prefer Not to Say</option>
                    </select>
                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <label for="fitness_level">Fitness Level: </label>
                    <span style="position:absolute; margin-left:10px; min-width: 20px;" id="fitnessValue">
                        </span>
                    <input
                        type="range"
                        id="fitness_level"
                        name="fitness_level"
                        class="form-range"
                        min="1"
                        max="10"
                        step="0.5"
                        list="fit_values"
                        value="<%= fitness_level %>"
                    />
                    <datalist id="fit_values" 
                    style="display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    writing-mode: vertical-lr; width: 100%; font-size: 0.8rem;">
                        <option value="1" label="Beginner"></option>
                        <option value="5" label="Intermediate"></option>
                        <option value="10" label="Fit"></option>
                      </datalist>
                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <label for="general_health">General Health: </label>
                    <span style="position:absolute; margin-left:10px; min-width: 20px;" id="healthValue">
                    </span>
                    <input
                        type="range"
                        id="general_health"
                        name="general_health"
                        class="form-range"
                        min="1"
                        max="10"
                        step="1"
                        list="health_values"
                        value="<%= general_health %>"
                    />
                    <datalist id="health_values" 
                    style="display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    writing-mode: vertical-lr; width: 100%; font-size: 0.8rem;">
                        <option value="1" label="Poor"></option>
                        <option value="5" label="Average"></option>
                        <option value="10" label="Excellent"></option>
                      </datalist>
                </div>
                <div class="form-group" style="margin-top: 10px;" id='#weekly-goals-section'>
                    <label for="activity_preference">Activity Preferences:</label>
                    <input type="checkbox" id="strength" name="strength">
                    <label for="strength">Strength Training</label>
                    <input type="checkbox" id="cardio" name="cardio">
                    <label for="cardio">Cardio</label>
                    <input type="checkbox" id="yoga" name="yoga">
                    <label for="yoga">Yoga</label>
                    <input type="checkbox" id="meditation" name="meditation">
                    <label for="meditation">Meditation</label>
                </div>
                
                <div id="exerciseGoalContainer" style="margin-bottom: 10px;"> </div>
                <button type="submit" class="btn btn-primary proceed">
                    Save Changes
                </button>
                
                <a href="/userDetails/" class="btn btn-secondary btn-block mr-2">
                    Cancel
                </a>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    document.addEventListener('DOMContentLoaded', function() {
        
        generateExerciseGoalInputs();

        var fitRange = document.getElementById("fitness_level").value;
        var fitValue = document.getElementById("fitnessValue");
        fitValue.innerHTML = fitRange;

        var healthRange = document.getElementById("general_health").value;
        var healthValue = document.getElementById("healthValue");
        healthValue.innerHTML = healthRange;

        function generateExerciseGoalInputs() {
            var activities = ["strength", "cardio", "yoga", "meditation"];

            activities.forEach(function (activity) {
                var checkbox = document.getElementById(activity);
                var inputField = document.getElementById(activity + "_frequency");
                var label = document.getElementById(activity + "_label");

                if (!inputField) {
                    inputField = document.createElement("input");
                    inputField.type = "number";
                    inputField.id = `${activity}_frequency`;
                    inputField.name = `${activity}_frequency`;
                    inputField.classList.add("form-control");
                    inputField.placeholder = "Enter Target Per Week";
                    inputField.min = "0";
                    inputField.max = "7";
                    inputField.value = "0"; 
                    inputField.style.display = "none";  

                    label = document.createElement("label");
                    label.id = `${activity}_label`;
                    label.htmlFor = `${activity}_frequency`;
                    label.textContent = `${activity.charAt(0).toUpperCase() + activity.slice(1)} Goal (weekly):`;
                    
                    var div = document.createElement("div");
                    div.classList.add("form-group");
                    div.appendChild(label);
                    div.appendChild(inputField);
                    document.getElementById("exerciseGoalContainer").appendChild(div);
                }

                if (!checkbox.checked) {
                    inputField.style.display = "none";  
                    label.style.display = "none";  
                } else {
                    inputField.style.display = "";  
                    label.style.display = "";  
                }

                checkbox.addEventListener("change", function() {
                    if (!checkbox.checked) {
                        inputField.value = '0';  
                        inputField.style.display = "none";  
                        label.style.display = "none";  
                    } else {
                        inputField.style.display = "";  
                        label.style.display = "";  
                    }
                });
            });
        }
    });
</script>