<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-check-circle"></i> Success!
      </h1>
      <p class="text-center">Your details have been successfully updated:</p>
      <p>
        <strong>User Name:</strong>
        <%= name %>
      </p>
      <p>
        <strong>First Name:</strong>
        <%= first_name %>
      </p>
      <p>
        <strong>Last Name:</strong>
        <%= last_name %>
      </p>
      <p>
        <strong>Age:</strong>
        <%= age %>
      </p>
      <p>
        <strong>Weight:</strong>
        <%= weight %> kg
      </p>
      <p>
        <strong>Height:</strong>
        <%= height %> cm
      </p>
      <p>
        <strong>Gender:</strong>
        <%= gender %>
      </p>
      <p>
        <strong>Fitness Level:</strong>
        <%= fitness_level %>
      </p>
      <p>
        <strong>General Health:</strong>
        <%= general_health %>
      </p>
      <p>
        <strong>Activity Preferences: </strong>
        <% if(strength) { %>
        <span
          style="
            padding: 5px;
            border-radius: 5px;
            background-color: #bad3fe;
            margin: 5px;
          "
          >Strength-Training</span
        >
        <% } %> <% if(cardio) { %>
        <span
          style="
            padding: 5px;
            border-radius: 5px;
            background-color: #bad3fe;
            margin: 5px;
          "
          >Cardio</span
        >
        <% } %> <% if(yoga) { %>
        <span
          style="
            padding: 5px;
            border-radius: 5px;
            background-color: #bad3fe;
            margin: 5px;
          "
          >Yoga</span
        >
        <% } %> <% if(meditation) { %>
        <span
          style="
            padding: 5px;
            border-radius: 5px;
            background-color: #bad3fe;
            margin: 5px;
          "
          >Meditation</span
        >
        <% } %>
      </p>

      <p>
        <strong>Strength Frequency:</strong>
        <%= strength_frequency %>
      </p>
      <p>
        <strong>Cardio Frequency:</strong>
        <%= cardio_frequency %>
      </p>
      <p>
        <strong>Yoga Frequency:</strong>
        <%= yoga_frequency %>
      </p>
      <p>
        <strong>Meditation Frequency:</strong>
        <%= meditation_frequency %>
      </p>

      <!-- Home Button -->
      <a href="/home" class="btn btn-secondary btn-block"> Home </a>
    </div>
  </div>
</div>
