<!-- <div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-check-circle"></i> Success!
            </h1>
            <p class="text-center">
                User details successfully submitted:
            </p>
            <p><strong>First Name:</strong> <%= first_name %></p>
            <p><strong>Last Name:</strong> <%= last_name %></p>
        </div>
    </div>
</div> -->

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-check-circle"></i> Success!
            </h1>
            <p class="text-center">
                User details successfully submitted:
            </p>
            <p><strong>User Name:</strong> <%= name %></p>
            <p><strong>First Name:</strong> <%= first_name %></p>
            <p><strong>Last Name:</strong> <%= last_name %></p>
            <p><strong>Age:</strong> <%= age %></p>
            <p><strong>Weight:</strong> <%= weight %> kg</p>
            <p><strong>Height:</strong> <%= height %> cm</p>
            <p><strong>Gender:</strong> <%= gender %></p>
            <p><strong>Fitness Level:</strong> <%= fitness_level %></p>
            <p><strong>General Health:</strong> <%= general_health %></p>
            <p><strong>Goals for the Next 30 Days:</strong> <%= goals_next_30_days %></p>
        </div>
    </div>
</div>
